/* Font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");
/* define custom css variables */
:root {
  --primary: #1a253f;
  --secondary: #2b55cc;
  --dark: #151a33;
  --info: #4d79f6;
  --termary: #848db3;
  --pure: #eff2f9;
  --mild: #8997bd;
  --fade: #7081b9;
  --footer: #212a4a;
  --black: #060b1b;
  --dribbble: #cd0a5b;
  --success: #1ecab8;
  --danger: #f1646c;
  --dark-blue: #28365f;
  --dark-gray: #171f33;
}

/* -----------------
    Global style
-------------------- */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  line-height: 1.5;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background: var(--pure);
  font-size: 16px;
}

ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #2b55cc;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1;
}

section {
  padding: 80px 0;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-content-evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

/* ============ Header style ==============*/
.sticky {
  background-color: #0070bc;
  -webkit-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 40px 40px;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-border-radius: 0 0 40px 40px;
  -moz-border-radius: 0 0 40px 40px;
  -ms-border-radius: 0 0 40px 40px;
  -o-border-radius: 0 0 40px 40px;
}

.navbar {
  position: fixed;
  color: #fff;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
}

.navbar .nav-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0;
}

.navbar .nav-info .nav-left {
  width: 350px;
}

.navbar .nav-info .nav-right__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .nav-info .nav-right__link > li {
  margin: 0 15px;
}

.navbar .nav-info .nav-right__link .link-item {
  position: relative;
}

.navbar .nav-info .nav-right__link .link-item a {
  color: #fff;
  padding: 15px 0;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.navbar .nav-info .nav-right__link .link-item a i {
  margin-left: 5px;
}

.navbar .nav-info .nav-right__link .link-item:hover > a {
  color: #1ecab8;
}

.navbar .nav-info .nav-right__link .link-item:hover > a .fa-angle-down:before {
  content: "\f106";
}

.navbar .nav-info .nav-right__link .link-item .sub-items {
  position: absolute;
  top: 80px;
  overflow: hidden;
  background: #fff;
  color: #4d79f6;
  opacity: 0;
  visibility: hidden;
  width: 150px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.navbar .nav-info .nav-right__link .link-item .sub-items.sub-items-faculty {
  width: 250px;
  left: -35px;
}

.navbar .nav-info .nav-right__link .link-item:hover .sub-items {
  top: 35px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  opacity: 1;
  visibility: visible;
}

.navbar .nav-info .nav-right__link .link-item .sub-items li {
  padding: 10px;
  text-align: center;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.navbar .nav-info .nav-right__link .link-item .sub-items li:hover {
  background: #4d79f6;
}

.navbar .nav-info .nav-right__link .link-item .sub-items li:hover a {
  color: #fff;
}

.navbar .nav-info .nav-right__link .link-item .sub-items a {
  color: #4d79f6;
}

.home {
  position: relative;
  z-index: 5;
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.home #particles-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.home-left, .home-right {
  padding-top: 180px;
}

.home-left {
  text-align: center;
  color: #fff;
  margin-top: 30px;
}

.home-left h1 {
  margin-bottom: 10px;
}

.home-right__item {
  overflow: hidden;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.headline {
  text-align: center;
  margin-bottom: 65px;
}

.headline .title {
  position: relative;
  text-align: center;
  font-size: 25px;
  color: #f3c74d;
}

.headline .title::before {
  content: "";
  position: absolute;
  bottom: -15px;
  left: -5%;
  width: 55%;
  height: 3px;
  background: #f3c74d;
}

.headline .title::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 50%;
  width: 55%;
  height: 3px;
  background: #f3c74d;
}

.headline i {
  position: absolute;
  bottom: -25px;
  font-size: 25px;
  left: calc(50% - 12px);
  color: #396b8c;
  z-index: 2;
}

/*================ Notification style ===========*/
.notification {
  background: #ecf2f3;
}

.notification .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.notification .card-inner {
  position: relative;
  top: 0;
  background-color: #e5e5e5;
  margin: 0 auto 30px;
  border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -ms-border-radius: 0 0 10px 10px;
  -o-border-radius: 0 0 10px 10px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.notification .card-inner img {
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
}

.notification .card-inner p {
  padding: 30px 0;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.notification .card-inner .card-icon {
  margin: -25px auto -20px;
  text-align: center;
}

.notification .card-inner i {
  text-align: center;
  width: 50px;
  line-height: 50px;
  height: 50px;
  background: #f3c74d;
  font-size: 20px;
  color: #2b55cc;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.notification .card-inner .hover-link {
  color: #2b55cc;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.notification .card-inner .hover-link:hover {
  color: #832d18;
}

.notification .card-inner:hover {
  top: -10px;
  -webkit-box-shadow: 0 5px 10px #7f89a19a;
          box-shadow: 0 5px 10px #7f89a19a;
}

.notification .card-inner:hover i {
  background: #fff;
}

/* ============= Resource style ================*/
.resource .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin-top: 20px;
}

.resource .card-inner {
  position: relative;
  top: 0;
  border: 1px solid #2e82ef;
  width: 100%;
  padding: 20px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.resource .card-inner p:nth-child(2) {
  padding: 10px 0;
  font-weight: 600;
}

.resource .card-inner::before {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 100%;
  z-index: -1;
  background: #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.resource .card-inner:hover::before {
  background: #2e82ef;
  top: 0;
}

.resource .card-inner:hover .hover-link {
  color: #fff;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.resource .card-inner .hover-link:hover {
  color: #f3c74d;
}

/*===== BACK TO TOP =====*/
.back-to-top {
  font-size: 20px;
  color: #fff;
  position: fixed;
  right: 33px;
  bottom: 100px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, right top, from(#361cc1), to(#2e82ef));
  background: linear-gradient(to right, #361cc1 0%, #2e82ef 100%);
  text-align: center;
  z-index: 99;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  display: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.back-to-top:hover {
  color: #fff;
  background: -webkit-gradient(linear, right top, left top, from(#361cc1), to(#2e82ef));
  background: linear-gradient(to left, #361cc1 0%, #2e82ef 100%);
}
/*# sourceMappingURL=style.css.map */