@media screen and (min-width: 1200px) {
}

// low pc, laptop
@media screen and (max-width: 1199px) {
    .home {
        height: 80vh;
        &-left {
            padding: 150px 0 20px;
        }

        &-right {
            padding: 50px 0 100px 0;
        }
    }

    .linked {
        .link-item {
            width: 200px;
        }
    }
}

// tablet
@media screen and (max-width: 991px) {
    section {
        padding: 50px 0;
    }
    .home {
        height: 90vh;

        &-right {
            padding: 30px 0 100px 0;
        }
    }

    .linked {
        .link-item {
            width: 210px;
        }
    }

    .footer {
        &-content {
            text-align: center;
        }
    }
}

// tablet
@media screen and (max-width: 767px) {
    section {
        padding: 40px 0;
    }
    .home {
        &-right {
            padding: 30px 0 100px 0;
        }
    }

    .linked {
        .link-item {
            width: 240px;
        }
    }
}

// mobile
@media screen and (max-width: 574px) {
    .card {
        &-inner {
            width: 250px;
        }
    }
    .home {
        &-left {
            padding: 150px 0 0;
        }

        &-right {
            padding: 30px 0 100px 0;
        }
    }

    .linked {
        .link-item {
            width: 250px;
            margin: auto;
        }
    }
}
