@media screen and (min-width: 1200px) {
    .wrapper {
        nav {
            max-width: 100%;
            padding: 0 20px;
            .content .links {
                margin-left: 30px;
                li a {
                    padding: 8px 13px;
                }
            }
        }
    }
}

// low pc, laptop
@media screen and (max-width: 1199px) {
    .wrapper .menu-icon {
        display: block;
    }

    .wrapper #show-menu:checked ~ .menu-icon i::before {
        content: "\f00d";
    }

    nav .content .links {
        display: block;
        position: fixed;
        background: #14181f;
        height: 100%;
        width: 100%;
        top: 70px;
        left: -100%;
        margin-left: 0;
        max-width: 350px;
        overflow-y: auto;
        padding-bottom: 100px;
        transition: all 0.3s ease;
    }

    nav #show-menu:checked ~ .content .links {
        left: 0%;
    }

    .content .links li {
        margin: 15px 20px;
    }

    .content .links li a,
    .content .links li label {
        line-height: 40px;
        font-size: 20px;
        display: block;
        padding: 8px 18px;
        cursor: pointer;
    }

    .content .links li a.desktop-link {
        display: none;
    }

    /* dropdown responsive code start */
    .content .links ul,
    .content .links ul ul {
        position: static;
        opacity: 1;
        visibility: visible;
        background: none;
        max-height: 0px;
        overflow: hidden;
    }

    .content .links #show-features:checked ~ ul,
    .content .links #show-services:checked ~ ul,
    .content .links #show-items:checked ~ ul {
        max-height: 100vh;
    }

    .content .links ul li {
        margin: 7px 20px;
    }

    .content .links ul li a {
        font-size: 18px;
        line-height: 30px;
        border-radius: 5px !important;
    }
    .home {
        height: 80vh;
        &-left {
            padding: 150px 0 20px;
        }

        &-right {
            padding: 50px 0 100px 0;
        }
    }

    .linked {
        .link-item {
            width: 200px;
        }
    }
}

// tablet
@media screen and (max-width: 991px) {
    section {
        padding: 50px 0;
    }
    .home {
        height: 90vh;

        &-right {
            padding: 30px 0 100px 0;
        }
    }

    .linked {
        .link-item {
            width: 210px;
        }
    }

    .footer {
        &-content {
            text-align: center;
        }
    }
}

// tablet
@media screen and (max-width: 767px) {
    section {
        padding: 40px 0;
    }
    .home {
        &-right {
            padding: 30px 0 100px 0;
        }
    }

    .linked {
        .link-item {
            width: 240px;
        }
    }
}

// mobile
@media screen and (max-width: 574px) {
    .wrapper nav {
        padding: 0 10px;
    }

    .content .logo a {
        font-size: 27px;
    }
    .card {
        &-inner {
            width: 250px;
        }
    }
    .home {
        &-left {
            padding: 150px 0 0;
        }

        &-right {
            padding: 30px 0 100px 0;
        }
    }

    .linked {
        .link-item {
            width: 250px;
            margin: auto;
        }
    }
}
